body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3bead+0,dfe5d7+60,fcfff4+100 */
  background: rgb(179,190,173); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(179,190,173,1) 0%, rgba(223,229,215,1) 60%, rgba(252,255,244,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(179,190,173,1) 0%,rgba(223,229,215,1) 60%,rgba(252,255,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(179,190,173,1) 0%,rgba(223,229,215,1) 60%,rgba(252,255,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3bead', endColorstr='#fcfff4',GradientType=1 ); /* IE6-9 */
}
.container{
  width: 700px;
}
img{
  max-height: 250px;
}
.abilities .list-inline li span{
  padding: 8px;
  color:#fff;
  background-color: blue;
  border-radius: 50%;
  padding: 10px;
}
.abilities .list-inline li{
  box-shadow: 10px 10px 5px #888888;
  display: inline-block;
  padding: 10px 10px 10px 0;
  background-color: #c6c6c6;
  border-radius: 20px;
  margin: 7px 5px;
}
@media only screen and (min-width:769px) {
  .institucion .list-inline>li{
    display: block;
  }
}
@media only screen and (max-width:768px) {
  .flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .info span{
    display: none;
  }
  .datos span{
    display: none;
  }
  .institucion span{
    display: none;
  }
  .institucion .list-inline li::after{
    content: ", ";
  }
  .institucion .list-inline li:last-child:after{
    content: ".";
  }
  .image-center{
    display: block;
    margin: 0 auto;
  }
  .text-left {
    text-align: center;
  }
  .institucion .list-inline>li{
    display: inline-block;
  }
}
